<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="messagebot">
<meta name="keywords" content="messagebot">
<meta name="author" content="Evan Tahler">

<link rel="icon" href="/images/favicon.ico" type="image/x-icon" /> 

<title><%= current_page.data.title %></title>
