.full {
    background: url('/images/sky.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.hover_robot {
  animation: hover_anmiation 2s ease-in-out infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes hover_anmiation {
  0 {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
