---
title: MessageBot.io - Home
---

<h1 class="cover-heading">A Modern Customer Relationship Manager</h1>

<div align="left">
<p class="lead">
  <ul>
    <li>Manage all communication with your users</li>
      <ul>
        <li>On Site</li>
        <li>Email</li>
        <li>Push</li>
        <li>In-App</li>
      </ul>
    <li>Track all actions that your users take</li>
      <ul>
        <li>Page Views</li>
        <li>Events</li>
        <li>Clicks</li>
        <li>Opens</li>
        <li>Purchases</li>
        <li>Interests</li>
      </ul>
    <li>Act on your users actions (or lack thereof) automatically</li>
    <li>Communicate via campaigns or triggers across any transport</li>
    <li>Finally, get a wholistic view of your user’s behavior, all in one place with one tool</li>
    <li>Oh, and its open source and free!</li>
  </ul>
</p>
</div>

<p class="lead">
  <img src="/images/logo/logo-white.png" width="100" />
  <!-- <a href="https://github.com/messagebot" class="btn btn-lg btn-default">Learn more</a> -->
</p>
